@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&display=swap');
.ourroot{
    width:100vw;
    height:100vh;
}
.fitter{
    height: 100vh;
    width:100vw;
    margin:0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.binder{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}  
.head{
    height:20vh;
    padding: 0px 26px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    background-color: #FFF7ED;
}
.name:hover{
    color:black
}
.name{
    color:black;
    font-weight:700;
    font-size:min(5vw,50px);
    max-width: 240px;
    display:flex;
    justify-content: center;
    align-items: center;
    line-height: 40.271px;

}
.host-vans-title{
    margin-top:0;
    margin-bottom: 0;
}
.nav-tab{
    display: flex;
    width: 35vw;
    max-width:180px;
    
    flex-direction: row;
    justify-content: space-between;
    color: #4D4D4D;
}
.about,.vans,.host{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link{
    color:#4D4D4D;
    font-weight: 600;
    font-size:16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link:hover{
    color:black;
}
.activeLink{
    color:red;
}

.main{
    height:67vh;
    color:white;
    padding:66px 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image:url("../components/image 53.png") ;
}

.text{
    height:155px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

.main_heading{
    font-size: 36px;
    margin:0px
}
.main_para{
    margin:0px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.button{
    width: 100%;
    height:50px;
    background-color: #FF8C38;;
}
.foot{
    height:10vh;
    color: #AAA;
    background-color:rgba(37, 37, 37, 1);
    font-family: 'Inter' , sans-serif;
    font-size: 14px;
    font-weight:400;
    display:flex;
    justify-content: center;
    align-items: center;
}
.credits{
    display:flex;
    justify-content: center;
    align-items: center;

}
.host_navbar{
    display:flex;
    flex-direction: row;
    width: 55vw;
    height:10vh;
    justify-content: space-between;
}
.host_outlet{
    display:flex;
    justify-content: center;
} 
.frame_container{
    display:flex;
    flex-direction: column;
    

}
img{
    height:20vh;
}
.back{
    color:grey
}
.back:hover{
    color:black
}
.myvan_card{
    display: flex;
    flex-direction:row;
}
.myvan_card_info{
    display: flex;
    flex-direction: column;
    
}
.myvan{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dashboard{
    height:60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pricing{
    display:flex;
    height: 216px;
    justify-content: center;
    align-items: center;
}
.photos{
    height:216px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vans_page_wrapper{

}
.clear{
    height:10px;
    margin-left:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(89, 86, 86);
    border: 1px solid black;
}
.clear_off{
    visibility: hidden;
}
.filter{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    margin-right:3px;
}
.vans_wrap{
    display:inline-flex;
    flex-direction: column;
}
.vans_frame{
    display:inline
}
.drop-down{
    display:inline-flex;
    flex-direction: column;
    width: 100px;
    height:133px;
    background-color: #FFF7ED;
    justify-content: space-between;
    border-radius: 3px;
    margin-right:3px;

}
.rugged,.luxury,.simple{
    margin-left:5px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 8px;
}
.simple:hover{
    background-color:#e2e0dd;
    color:rgb(33, 53, 71);
}
.luxury:hover{
    background-color:#e2e0dd;
    color:rgb(33, 53, 71);
}
.rugged:hover{
    background-color:#e2e0dd;
    color:rgb(33, 53, 71);
}
.all:hover{
    background-color:#e2e0dd;
    color:rgb(33, 53, 71);
}
.vans_page_wrapper{
    display: block;
    
}
.custom_wrap{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vans_button{
    border-bottom-left-radius:0px ;
    background-color:#FFF7ED;
    border-bottom-right-radius:0px ;
}
.vans_button_off{
    background-color:#FFF7ED;
    outline: none;
}

.drop-down-off{
    visibility:hidden;
    
}

.rugged,.luxury,.simple,.all {
    border-radius: 3px;
    background: none;
    border: none;
    margin-top:5px ;
    margin-bottom:5px;
    margin-left:8px;
    margin-right:5px;
    padding: 0;
    padding-left:3px;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none; /* Remove the default outline on focus */
  }
.selected{
    z-index:2;
    background-color: #FF8C38;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar:hover{
    height:30px;
}
.avatar{
    display:flex;
    height:20px;
    
}
.avatar_image{
    flex-grow: 1;
    width: 100%;
    flex-shrink: 0;
    height: 100%;
}


